# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store

# Composer
/vendor/
composer.lock

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Build files
/build/
/dist/

# WordPress
wp-cli.local.yml

# DDev
.ddev/